.btn-detail{
    text-align: center;
}
.btn{
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    background-color: rgba(17, 5, 5, 0.966);
    margin: 2rem 1rem;
    outline: none;
    border: none;
    border-radius: 2.8rem;
}
@media only screen and (max-width: 500px){
  .btn{
      font-size: 1rem;
      padding: 0.8rem 1.3rem;
  }
}